// _var.less

/* color */
$base-color = #3f3f3f;
$secondary-color = #859AA3;
$weakened-color = #A7BBC4;
$disabled-color = #d8d8d8;

$primary-color = #2AB3F6;
$warning-color = #FFF2C1;
$danger-color = #F85F48;

$mask-color = #cfcfcf;

/* bg */
$body-fill = #fff;
$body-fill-weakened = #f3f3f3;
$active-fill = #EAEAEA;

/* font-size */
$font-size-xs = px2rem(14) - px2rem(4); // 10px
$font-size-sm = px2rem(14) - px2rem(2); // 12px
$font-size-base = px2rem(14)
$font-size-lg = px2rem(14) + px2rem(2); // 16px
$font-size-xl = px2rem(14) + px2rem(4); // 18px
$font-size-xlg = px2rem(14) + px2rem(6); // 20px
$font-size-xxl = px2rem(30); // 30px

/* font color*/
$link-color = $primary-color;

$text-color-base = $base-color;
$text-color-secondary = $secondary-color;
$text-color-weakened = $weakened-color;
$text-color-disabled = $disabled-color;
$text-color-highlight = $link-color;
$text-color-infill = #fff;
$text-color-warning = #C19D41;